<div class="user-details" *ngIf="user">
    <h2>Detalles del Empleado</h2>

    <div class="detail-item">
        <strong>Nombre:</strong>
        <span *ngIf="!isEditing">{{ user.name }}</span>
        <input *ngIf="isEditing" [(ngModel)]="user.name">
    </div>

    <div class="detail-item">
        <strong>Apellido:</strong>
        <span *ngIf="!isEditing">{{ user.last_name }}</span>
        <input *ngIf="isEditing" [(ngModel)]="user.last_name">
    </div>

    <div class="detail-item">
        <strong>Correo electrónico:</strong>
        <span *ngIf="!isEditing">{{ user.email }}</span>
        <input *ngIf="isEditing" [(ngModel)]="user.email">
    </div>

    <div class="detail-item">
        <strong>Identificación:</strong>
        <span *ngIf="!isEditing">{{ user.identification }}</span>
        <input *ngIf="isEditing" [(ngModel)]="user.identification">
    </div>

    <div class="detail-item">
        <strong>Celular o teléfono:</strong>
        <span *ngIf="!isEditing">{{ user.phone_number }}</span>
        <input *ngIf="isEditing" [(ngModel)]="user.phone_number">
    </div>

    <div class="detail-item">
        <strong>Dirección:</strong>
        <span *ngIf="!isEditing">{{ user.address }}</span>
        <input *ngIf="isEditing" [(ngModel)]="user.address">
    </div>

    <div class="detail-item">
        <strong>Rol:</strong>
        <span *ngIf="!isEditing">{{ userRolesText }}</span>
    
        <div *ngIf="isEditing" class="roles-container">
            <label *ngFor="let role of roles">
                <input 
                    type="checkbox" 
                    [value]="role.name" 
                    (change)="toggleRole(role.id)" 
                    [checked]="isRoleSelected(role.id)" />
                {{ role.name }}
            </label>
        </div>
    </div>    
    
    <div class="detail-item">
        <strong>Esta activo:   </strong>
        <span *ngIf="!isEditing">{{ user.is_active ? 'Sí' : 'No' }}</span>
        <input *ngIf="isEditing" id="is_active" type="checkbox" [(ngModel)]="user.is_active" />
    </div>

    <div class="detail-item">
        <strong>Contraseña:</strong>
        <span *ngIf="!isEditing">****</span>
        <input *ngIf="isEditing" [(ngModel)]="user.password">
    </div>

    <button (click)="edit()" class="btn btn-edit">{{ isEditing ? 'Guardar' : '✏ Editar' }}</button>

    <div *ngIf="errorMessage" class="error-box">{{ errorMessage }}</div>


</div>