<!-- Header -->
<header id="logotipo">
  <div class="logo-container">
    <img src="assets/images/logo2.png" alt="logotipo" class="logo">
    <p class="plogo">Bienvenidos a P'wings</p>
  </div>

  <div class="user-menu">
    <button class="user-button">
      <span class="user-icon">👤</span>
      <span class="user-name">Mi Cuenta</span>
      <span class="arrow-icon">▼</span>
    </button>
    <div class="dropdown-menu">
      <a (click)="logout()">Cerrar sesión</a>
      <a> Editar Perfil</a>  
    </div>
  </div>
</header>

<!-- Main Container -->
<main class="main-container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <ul class="menu-list">
      <li><a routerLink="/dashboard">Inicio</a></li>
      <li>
        <a>Gestión Usuarios</a>
        <ul>
          <li><a routerLink="/dashboard/users">Usuarios</a></li>
          <li><a routerLink="/dashboard/roles">Rol</a></li>
          <li><a routerLink="/dashboard/clientes">Clientes</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Content -->
  <section id="content">
    <div class="box">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>