<div class="container">
    <h1>Crear Nuevo Rol</h1>
    <form [formGroup]="roleForm" (ngSubmit)="createRole()">
        <div class="form-group">
            <label for="name">Nombre del Rol</label>
            <input id="name" formControlName="name" class="form-control" placeholder="Ingrese el nombre del rol">

        </div>

        <button type="submit" class="btn btn-create">Crear Rol</button>
    </form>

    <div *ngIf="message" [ngClass]="messageClass" class="message">
        {{ message }}
    </div>
</div>