<div class="factura-details" *ngIf="factura">
    <h2>Detalles del registro de la venta</h2>

    <div *ngIf="successMessage" class="success">
        <p>{{ successMessage }}</p>
    </div>

    <div class="detail-item">
        <strong>Consecutivo:</strong>
        <span>{{ factura.consecutive }}</span>
    </div>

    <div class="detail-item">
        <strong>Prefijo:</strong>
        <span>{{ factura.prefix }}</span>
    </div>
    
    <div *ngIf="!isEditing" class="detail-item">
        <strong>Número de mesa:</strong>
        <span>{{ factura.table_number }}</span>
    </div>

    <div *ngIf="!isEditing" class="detail-item">
        <strong>Método de pago:</strong>
        <span>{{ facturaMethodPaymentText  }}</span>
    </div>    

    <form *ngIf="isEditing" [formGroup]="formFactura">
        <div class="detail-item">
        <strong>Número de mesa:</strong>
        <select class="form-select" formControlName="table_number">
            <option *ngFor="let table_number of table_numbers" [value]="table_number">Mesa {{ table_number }}</option>
        </select>
        </div>

        <div class="detail-item">
        <strong>Método de pago:</strong>
        <div class="methodPayment-container">
            <select class="form-select" formControlName="methodPayment">
            <option *ngFor="let methodPayment of methodPayments" [value]="methodPayment.id">
                {{ methodPayment.name }}
            </option>
            </select>
        </div>
        </div>
    </form>

    <div class="detail-item">
        <strong>Empleado:</strong>
        <span >{{ factura.user.name }} {{ factura.user.last_name }}</span>
    </div>

    <div class="detail-item">
        <strong>Cliente:</strong>
        <span>{{ factura.customer.name }} {{ factura.customer.last_name }}</span>
    </div>  
    
    <div class="detail-item">
        <strong>Estado:</strong>
        <span>{{ factura.estado }}</span>
    </div>

    <div class="detail-item">
        <strong>Productos:</strong>
        <table *ngIf="factura?.products?.length" class="product-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of factura.products">
                <td>{{ product.name }}</td>
                <td>{{ product.precio_unitario | currency:'COP' }}</td>
                <td>{{ product.cantidad }}</td>
                <td>{{ product.subtotal | currency:'COP' }}</td>
            </tr>
            </tbody>
        </table>
        <p *ngIf="!factura?.products?.length">No hay productos registrados.</p>
    </div>

    <div class="detail-item">
        <strong>Valor factura:</strong>
        <span>{{ factura.value }}</span>
    </div>

    <button (click)="edit()" class="btn btn-edit">{{ isEditing ? 'Guardar' : '✏ Editar' }}</button>

    <div *ngIf="errorMessage" class="error-box">{{ errorMessage }}</div>
    
</div>