.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #af050b;
    color: white;
    text-align: center;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    text-transform: uppercase;
    font-size: 14px;
}

td {
    font-size: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 8px; /* Espacio entre botones */
}

.page-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  min-width: 40px;
  text-align: center;
}

.center-input {
  display: block;
  margin: auto;
  width: 60px;
  text-align: center;
}


.alert-stock {
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
}