<div class="rol-details" *ngIf="rol">
    <h2>Detalles del Rol</h2>

    <div class="detail-item">
        <strong>Nombre:</strong>
        <span *ngIf="!isEditing">{{ rol.name }}</span>
        <input *ngIf="isEditing" [(ngModel)]="rol.name">
    </div>

    <div class="detail-item">
        <strong>Esta activo:   </strong>
        <span *ngIf="!isEditing">{{ rol.is_active ? 'Sí' : 'No' }}</span>
        <input *ngIf="isEditing" id="is_active" type="checkbox" [(ngModel)]="rol.is_active" />
    </div>

    <button (click)="edit()" class="btn btn-edit">{{ isEditing ? 'Guardar' : '✏ Editar' }}</button>

    <div *ngIf="errorMessage" class="error-box">{{ errorMessage }}</div>

</div>