<div class="container">
    <h1>Lista de Roles</h1>

    <div class="create-rol">
        <button routerLink="create" class="btn btn-rol">Crear Rol</button>
    </div>

    <!--Tabla para listar roles-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ role.name }}</td>
                <td>
                    <button class="btn btn-edit" >Editar</button>
                    <button [routerLink]="['/dashboard/roles/delete', role.id]" class="btn btn-delete">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>