<div class="container">
    <h2>Lista de Métodos de Pago</h2>

    <div class="admin-actions">
        <a routerLink="/dashboard/methodPayments/register" class="btn-primary">➕ Ingresar Formas de Pago</a>
    </div>

    <div class="table-container">
        <!--Tabla para listar roles-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Si la lista de roles está vacía, se muestra esta fila -->
                <tr *ngIf="methodPayments?.length === 0">
                    <td colspan="3">No hay metodos de pago para mostrar</td>
                </tr>

                <!-- Si hay metodos de pago, se listan -->
                <tr *ngFor="let methodPayment of methodPayments; let i = index">
                    <td>{{ ((currentPage - 1) * pageSize) + i + 1 }}</td>
                    <td>{{ methodPayment.name }}</td>
                    <td>{{ methodPayment.is_active }}</td>
                    <td>
                        <!-- Botón para ver detalles del metodo de pago -->
                        <button (click)="seeMethodPaymentDetails(methodPayment.id)" class="btn btn-detail" >👁 Ver</button>
                        <button (click)="methodPaymentDelete(methodPayment.id)" class="btn btn-delete">🗑 Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Controles de paginación -->
     <div class="pagination">
        <button class="page-btn" (click)="prevPage()" [disabled]="currentPage ===1">Anterior</button>
        <span class="page-btn page-current">Página {{ currentPage }} de {{ totalPages }}</span>
        <button class="page-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
     </div>
</div>
